// Define variables for your color scheme

// Greys
$black: #1B1B1B;
$dark-gray: #5C5C5C;
$medium-gray: #C0C0C0;
$light-gray: #F3F3F3;
$white: white;

$neutral-dark-blue: #152A43;
$neutral-light-blue: #E4ECF6;

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
