.about-container {
  width: 75%;
  padding: 80px 0;
  margin: 80px auto;

  p {
    color: $dark-gray;
  }

  h2 {
    color: $dark-gray;
    font-size: 32px;
  }

  h4 {
    color: $medium-gray;
    font-size: 24px;
    margin-top: 40px;
  }
}

.about-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 40px;

  h2 {
    margin: 0 0 0 32px;
  }
}
