<div class="navbar-container">
  <div class="navbar-options">
    <ul>
      <li><%= link_to 'Articles', root_path, class: 'nb-link' %></li>
      <li><%= link_to 'New article', new_post_path, class: 'nb-link' %></li>
      <li><%= link_to 'Log out', destroy_user_session_path, class: 'nb-link' %></li>
    </ul>
  </div>
</div>
