<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/juliaf1"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/julia-frederico-95651b1a2/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Designed and coded with <i class="fas fa-heart"></i> by Julia
  </div>
</div>
