<div class="about-container">
  <div class="about-header">
    <%= image_tag "julia2.jpg", class: 'avatar-large' %>
    <h2>Julia Frederico</h2>
  </div>
  <p>I'm a writer and graphic designer that has been creating content for the web for about three years now. At the moment, I've been dedicated to studying UX research, software engineering, design operations and design thinking methodologies - using design and technology to create experiences that empower people.
  <br><br>
  As a communicator, I've always been interested with the possibility of taking two steps back and understanding the context in which
  each story and discourse is created and scattered. Whenever I'm working on a multidisciplinary project, my work translates this effort
  of analyzing where we stand socially and culturally.</p>
  <h4>Thoughts on Design and Art</h4>
  <p>This archive of thoughts was created with the intention of sharing some of my reflections and articles on design, antropology and cultural narratives.
  There's a work in progress to translating my articles to English, at the moment, they are all in Portuguese.</p>
</div>
<div style="height: 16vh;"></div>
