<div class="home-container">
  <% @posts.each do |post| %>
    <div class="home-article-card">
      <div class="home-article-banner" style="background-image: linear-gradient(rgba(20,20,20,0.7),rgba(20,20,20,0.8)), url('<%= cl_image_path post.photo.key, crop: :fill %>');">
        <h1><%= post.title %></h1>
        <p><%= post.subtitle %></p>
        <p><%= link_to 'Veja mais', post_path(post), class: 'home-btn' %></p>
      </div>
    </div>
  <% end %>
</div>
