.articles-container {
  width: 75%;
  margin: 40px auto;
}

.articles-cards-container {
  padding: 40px 0;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 24px 0;

  &:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    text-decoration: none;
  }
}
