.content-container {
  margin-top: 80px;
}

// Admin Navbar

.navbar-container {
  width: 100%;
  height: 80px;
  background-color: $white;
  border: 1px solid $black;
  position: fixed;
  top: 0;
  z-index: 1000;

  .navbar-options {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 80px;
    padding-left: 40px;
    border-left: 1px solid $black;
    height: 100%;
    display: flex;
    align-items: center;
  }

  li {
    display: inline;
    margin-right: 24px;
  }

  a {
    color: $neutral-dark-blue;
  }
}

// Normal navbar


